
// build in functions

$col: red;

ul li span{
    color: $col;
    &:hover{               
        // color: darken($color: $col, $amount: 25%);  // 25% darker
        color: lighten($color: $col, $amount: 25%);  // 25% darker
    }
}